﻿@model DataAnnotationLocalization.ViewModels.Member.PersonalInfo
@using Microsoft.AspNet.Mvc.Localization
@using Microsoft.Extensions.Localization

@{
    ViewData["Title"] = "Personal info";
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>default en-US Personal information </h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
